<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-target="#navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLink="/app-formulario" class="nav-link">Formulario</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="box">
          <h1>Login</h1>
          <h3 class="text-normal">Please enter your login and password!</h3>
          <input type="text" formControlName="email" placeholder="Username">
          <input type="password" formControlName="password" placeholder="Password">
          
          <input type="submit" name="Registrar" value="Login">          
          <div class="col-md-12">
            <ul class="social-network social-circle">
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
