<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h1>Login</h1>
                    <h3 class="text-normal"> Please enter your login and password!</h3>
                     <input type="text" name="" placeholder="Username"> 
                     <input type="password" name="" placeholder="Password"> 
                     <input type="submit" name="" value="Login" href="#">
                     
                     <a class="text-normal" (click)="redirectToRegistro()">Registrar Cuenta</a> 
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>