
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Consultar por CURP" [(ngModel)]="curp">
        <button class="btn btn-primary" (click)="searchByCurp()">Buscar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let titular of titulares">{{ titular | json }}</li>
      </ul>
    </div>
  </div>
</div>
